.bannerImg {
  background-image: url("../../../assets/bannerbg.jpg");
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

/* .hoverImg:hover {
  color: white;
} */
