@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom_shadow {
  box-shadow: 6px 0px 16px 0px #0000001a;
}

.cardShadow:hover {
  box-shadow: 0 0 1rem #1877f2;
}

.categoryImg {
  width: 100%;
  transition: 0.5s ease;
}

.categoryImg:hover img {
  transform: scale(1.1);
}
